@use './theme';

html,
body {
  font-family: theme.$font-body; color: theme.$text-black;
  background-color: theme.$white; margin: 0px;
}

p { margin: 0px; }

a { text-decoration: none; color: theme.$text-black; cursor: pointer; }

.animalCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin:20px;
  
}

.pickButton {
  align-items: center; flex-direction: column; position: relative;
}